{% extends 'website_base.html' %}
{% load static %}

{% block title %}OPS | Services Offered{% endblock %}

{% block css %}
    <style>
        .title-soft {
            text-decoration: underline;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container-xxl">
        <div class="container mt-5">
            <div class="wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Services</h6>
                <h1 class="mb-5">Services Made Available to YOU</h1>

                <h4 class="mb-4 title-soft">Software Development</h4>
                <p class="mb-2">
                    We offer custom software development services that are tailored to your individual requirements. Our
                    professional development team will provide scalable and secure software solutions.
                </p>
                <p class="mb-4">
                    Benefits: Increase efficiency, streamline processes, and enhance productivity.
                </p>

                <h4 class="mb-4 title-soft">User Interface (UI) Design</h4>
                <p class="mb-2">
                    Our user interface design services are focused on developing intuitive and visually appealing user
                    interfaces that improve the user experience.
                </p>
                <p class="mb-4">
                    Benefits: Improve user engagement, increase customer satisfaction, and drive conversions.
                </p>

                <h4 class="mb-4 title-soft">Software Maintenance and Support</h4>
                <p class="mb-2">
                    Our team provides ongoing software maintenance and support services to guarantee that your software
                    is always up to date, secure, and optimal.
                </p>
                <p class="mb-4">
                    Benefits: Minimize downtime, resolve issues promptly, and improve software performance.
                </p>

                <h4 class="mb-4 title-soft">Embedded Software Development</h4>
                <p class="mb-2">
                    We offer custom embedded software development services tailored to your specific needs. Our team of
                    experienced developers will design and build scalable and secure software solutions for your
                    embedded systems.
                </p>
                <p class="mb-4">
                    Benefits: Improve system performance, reduce development time, and enhance system security.
                </p>

            </div>
        </div>
    </div>

{% endblock %}

